

.container {

}


.layer1 {
    height: 768 px;
    width: 600 px;
    padding: 10 px 10 px;
    color: #9fbf71;
    border: 10 px 10 px;
    border-color: #000;
}

.logo{
    
}

.nav_menu {
	
}

.downArrow {
	
}

.FarrisWheel{
    
}

.layer2{
    
}